.footer {
  width: 100%;
  height: 75px;
  background: $color_yellow;

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }

  &__link {    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 100px;
  }

  &__btn {
    color: $color_black;
    background: $color_white;
    font-size: 20px;
    padding: 15px 20px;
    border: 1px solid $color_grey;
    border-radius: 15px;
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }
}